<template>
  <div id="products">
    <h2 class="title">Products</h2>
    <div class="notification" v-for="(info, key) in infos" :key="key">
      {{ info }}
    </div>
    <table :class="{ products: products.length !== 0 }">
      <tr>
        <th>Product Name</th>
        <th>Price</th>
        <th>Buy</th>
        <th>Add</th>
      </tr>
      <tr v-for="product in products" :key="product.id">
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>
          <label>
            <input type="number" :id="product.id" value="0" />
          </label>
        </td>
        <td>
          <button @click="addToCart(product)">+ Add to cart</button>
        </td>
      </tr>
    </table>
  </div>
</template>

<script>
  import { mapState } from "vuex";
  export default {
    data() {
      return {
        infos: [],
      };
    },
    computed: {
      ...mapState(["products"]),
    },
    methods: {
      addToCart(product) {
        if (document.getElementById(product.id).value > 1) {
          const count = document.getElementById(product.id).value;
          product = { ...product, count };
          this.$store.commit("addToCard", product);
          const info = product.name + " added to cart";
          this.infos.push(info);
          setTimeout(() => {
            document.getElementById(product.id).value = 0;
            this.infos.splice(this.infos.indexOf(info), 1);
          }, 3000);
        } else {
          const info = "please enter a valid input";
          this.infos.push(info);
          setTimeout(() => {
            document.getElementById(product.id).value = 0;
            this.infos.splice(this.infos.indexOf(info), 1);
          }, 3000);
        }
      },
    },
  };
</script>

<style scoped>
  .title {
    background-color: rgb(44, 41, 41);
    color: #fff;
    padding: 10px 30px;
    border-radius: 20px;
    width: 200px;
  }
  #products {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .products {
    border: 1px solid #ddd;
    margin: auto;
  }
  .products td,
  th {
    border: 2px solid rgb(10, 10, 10);
    padding: 10px;
  }
  .notification {
    background-color: rgb(31, 238, 59);
    color: #fff;
    padding: 10px;
    width: 300px;
    margin-bottom: 20px;
    border-radius: 25px;
    font-size: 24px;
  }
  button {
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    background-color: green;
    color: #fff;
    border-radius: 5px;
  }
</style>
